.log-in-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log-in-form{
  display: flex;
  flex-direction: column;
}

.log-in-input{
  height: 30px;
  width: 200px;
  margin-top: 30px;
  font-size: 16px;
  background-color: #005511;
  color: #EEFFDD;
}

.log-in-input::placeholder{
  font-size: 16px;
  background-color: #005511;
  color: #EEFFDD;
}

.log-in-input:-webkit-autofill,
.log-in-input:-webkit-autofill:hover, 
.log-in-input:-webkit-autofill:focus{
  -webkit-text-fill-color: #EEFFDD;
  -webkit-box-shadow: 0 0 0px 1000px #005511 inset;
}

.button-container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.main-button{
  height: 30px;
  width: 90px;
  background-color: #7700ee;
  color: #FFFFFF;
  border-radius: 3px;
  font-size: 18px;
}

.secondary-button{
  height: 30px;
  width: 90px;
  background-color: #005511;
  color: #EEFFDD;
  border-radius: 3px;
  font-size: 18px;
}